/*GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --button: #0061FF;
    --bg-lightblue: #B4D0E7;
    --darkcolor: #000000;
    --lightcolor: #FFFFFF;
    --mint: #A2D39B;
    --medium-blue: #0093CE;
    --neon-red: #FF1C1C;
    --bordeaux: #61082B;
    --cherry-red: #D5001F;
    --blue: #0D2481;
    --yellow: #FFD830;
    --lightgrey: #F5F5F5;
    --grey: #EDEDEE;
    
}

.debug{
    border: 1px solid red;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--lightcolor);
}

ul{
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.container-small{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.bg-lightblue{
    background-color: var(--bg-lightblue);
}



.d-flex{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

.wrap{
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
    align-content: center;
}


.fixed {
    position: fixed;
}

.gap-1 {
    gap: 0 1rem;
}

.gap-2 {
    gap: 0 2rem;
}

.padding-1 {
    padding: 1rem;
}

.margin-bottom1-5{
    margin-bottom: 1.5rem;
}

.margin-bottom3{
    margin-bottom: 3rem;
}

.padding-top{
    padding-top: 3rem;
}

.padding-bottom1{
    padding-bottom: 1rem;
}

.padding-bottom2{
    padding-bottom: 2rem;
}

h1{
    font-size: 5rem;
}

h2{
    color: var(--darkcolor);
}


img{
    display: block;
}

.button{
    background-color: var(--button);
    color: var(--lightcolor);
    padding: 10px;
    font-size: 14px;
    text-decoration: none; 
}

.button:hover{
    background-color: #3479e8;
    box-shadow: 2px 2px 10px 1px #a59e9e;
}

.button-white:hover{
    background-color: var(--lightcolor);
    color: #4f4d4d;
}

.icon{
    padding-right: 4px;
}



/*ANCORE*/
a{
    color: var(--primary-color);
    text-decoration: none;
    display: inline-block;
    padding: 21px;  
}

.decoration{
    text-decoration: underline;
    color: #0D2481;
}




/*HEADER*/
header{
    background-color: var(--lightcolor);
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 80px;
    border-bottom: 2px solid var(--bg-lightgrey); /*o box-shadow che forse è meglio per dopo con l'hover*/
}

.img{
    width: 150px;
}

.underline:hover{
    border-bottom: 2px solid var(--darkcolor);
}



/*MAIN*/
main{
    padding-top: 80px;
}
/*JUMBO*/
#jumbo{
    margin-bottom: 100px;
}

#jumbo .column-left{
    width: 30%;
}

#jumbo .column-right{
    width: 69%;
}

.img-jumbo{
    width: 100%;
    margin-bottom: -80px;
}

#arrow-down{
    font-size: 3.5rem;
}

/*PLANS*/

#plans h2{
    font-size: 2rem;
}

.form{
    padding: 30px;
}

.input-box-left{
    padding-right: 10px;
}

    /*colonne*/
.column{
    width: calc((100% / 3) - 30px);
    border: 1px solid var(--grey);
    font-size: 16px;
    
}

.utente{
    border: 1px solid var(--grey);
    font-size: 12px;
    text-align: center;
    padding: 4px;
}

.column h3{
    font-size: 22px;
}

.text-grey{
    color: #a8a8a8;
}

.info{
    padding: 30px 15px 30px 15px;
}

.button-plans{
    padding-left: 35%;
    padding-right: 39%;
    text-align: center;
}

.button-plans1{
    padding-left: 15%;
    padding-right: 19%;
    text-align: center;
}


.linea{
    color: var(--grey);
}

.margin-right{
    margin-right: 40px;
}

    /*plans-bottom*/
.plans-bottom{
    width: 100%;
    border: 1px solid var(--grey);
}

.text{
    padding: 20px;
}

.plans-bottom h3{
    font-size: 18px;
}

.plans-bottom h4{
    font-size: 14px;
}

.info1{
    width: 65%;
}

.info1 h4{
   padding-bottom: 40px;
}

.info1 p{
    font-size: 14px;
}

li.list-icon{
    list-style-type: none;
    margin-bottom: 20px;
    padding-left: 1.5em;
    text-indent: -0.9em;
}

.user::before{
    font-family: "Font Awesome 6 Free";
    content: "\f007";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
}

.team::before{
    font-family: "Font Awesome 6 Free";
    content: "\f0c0";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
}

.building::before{
    font-family: "Font Awesome 6 Free";
    content: "\f1ad";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
}

.folder::before{
    font-family: "Font Awesome 6 Free";
    content: "\f07b";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
}

.share::before{
    font-family: "Font Awesome 6 Free";
    content: "\f1e0";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
}

.check::before{
    font-family: "Font Awesome 6 Free";
    content: "\f00c";
    color: var(--button);
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
}







/*PARTNERS*/
.img-partner{
    width: 100%;
}

#partner .column-right{
    width: 45%;
    padding: 30px;

}

#partner .column-left{
    width: 54%;
}

.button-white{
    background-color: var(--lightcolor);
    border: 1px solid var(--darkcolor);
    color: var(--darkcolor);
}


/*FEATURES*/
#features h2{
    font-size: 2rem;
}

.card{
    width: calc(100% / 3);
    padding: 3px;
}

#features h3{
    font-size: 20px;
}

#features p{
    font-size: 14px;
}

#features img{
    width: 250px;
    display: block;
}

#features .description{
    padding:25px 15px;
}


/*CUSTOMER*/
#customer h2{
    font-size: 2rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

#customer a{
    font-size: 12px;
    margin-left: -20px;
    padding-bottom: 4rem;
}

        /*loghi*/
#loghi section{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

#loghi .quadrato{
    width: 50%;
    height: 50%;
}

#loghi .quad-center{
    background-color: var(--lightgrey);
    padding: 40px 25px;
    overflow-y: auto;
}

#loghi .q-1{
    background-color: var(--mint);
}

#loghi .q-2{
    background-color: var(--bordeaux);
}

#loghi .q-3{
    background-color: var(--medium-blue);
}

#loghi .q-4{
    background-color: var(--neon-red);
}

#loghi .q-5{
    background-color: var(--cherry-red);
}

#loghi .q-6{
    background-color: var(--bg-lightblue);
}

#loghi .q-7{
    background-color: var(--blue);
}

#loghi .q-8{
    background-color: var(--yellow);
}

.quad-left img, .quad-right img, .quad-center img{
    width: 50%;
}    

.invert{
    filter: invert();
}

.quad-center .linea{
    color: #bbbbbb;
}

.quad-center p{
    font-size: 14px;
}

.shadow-mint:hover{
    box-shadow: inset 5px 5px 20px 1px #ffffff; 
}

.shadow-bordeaux:hover{
    box-shadow: inset 5px 5px 20px 1px #c84a7c; 
}

.shadow-medium:hover{
    box-shadow: inset 5px 5px 20px 1px #87c8e1; 
}

.shadow-red:hover{
    box-shadow: inset 5px 5px 20px 1px #ff5a5a; 
}

.shadow-cherry:hover{
    box-shadow: inset 5px 5px 20px 1px #ff6078; 
}

.shadow-lightblue:hover{
    box-shadow: inset 5px 5px 20px 1px #ffffff; 
}

.shadow-blue:hover{
    box-shadow: inset 5px 5px 20px 1px #4f72fa; 
}

.shadow-yellow:hover{
    box-shadow: inset 5px 5px 20px 1px #ffffff; 
}


/*FREE-TRY*/
#freetry{
    padding-top: 4rem;
    padding-bottom: 6rem;
    
}

#freetry h2{
    color: var(--bordeaux);
    font-size: 2rem;
}

.variant{
    border: none;
    margin-top: 1rem;
    margin-right: 2rem;
}


/*FAQ*/
#faq{
    padding-top: 4rem;
    padding-bottom: 6rem;
}

#faq h2{
    font-size: 2rem;
    padding: 1rem;
}

.domande{
    padding: 10px;
}

hr{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

details > summary {
    padding: 40px;
    cursor: pointer;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
}

details > p {
    padding: 4px;
    margin: 0;
}

/*FOOTER*/
footer{
    background-color: var(--darkcolor);
    color: var(--lightcolor);
}

.navfooter{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.navfooter li{
    padding-bottom: 1rem;
    font-size: 14px;
}

.navfooter h4{
    padding-bottom: 1.2rem;
    font-size: 18px;
}

.seleziona{
    padding-top: 1rem;
    padding-bottom: 2rem;
}

#lingua{
    background-color: var(--darkcolor);
    color: var(--lightcolor);
    border: none;
}

.navfooter a{
    padding: 0.2rem;
}

.navfooter a:hover{
    text-decoration: underline;
}


{

}







