/*GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --button: #0061FF;
    --bg-lightblue: #B4D0E7;
    --darkcolor: #000000;
    --lightcolor: #FFFFFF;
    --mint: #A2D39B;
    --medium-blue: #0093CE;
    --neon-red: #FF1C1C;
    --bordeaux: #61082B;
    --cherry-red: #D5001F;
    --blue: #0D2481;
    --yellow: #FFD830;
    --lightgrey: #F5F5F5;
    --grey: #EDEDEE;
    
}

.debug{
    border: 1px solid red;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--lightcolor);
}

ul{
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.container-small{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.bg-lightblue{
    background-color: var(--bg-lightblue);
}



.d-flex{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

.wrap{
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.fixed {
    position: fixed;
}

.gap-1 {
    gap: 0 1rem;
}

.gap-2 {
    gap: 0 2rem;
}

.padding-1 {
    padding: 1rem;
}

.margin-bottom1-5{
    margin-bottom: 1.5rem;
}

.margin-bottom3{
    margin-bottom: 3rem;
}

.padding-top{
    padding-top: 3rem;
}

.padding-bottom1{
    padding-bottom: 1rem;
}

.padding-bottom2{
    padding-bottom: 2rem;
}

h1{
    font-size: 5rem;
}

h2{
    color: var(--darkcolor);
}


img{
    display: block;
}

.button{
    background-color: var(--button);
    color: var(--lightcolor);
    padding: 10px;
    font-size: 14px;
    text-decoration: none; 
}

/*ANCORE*/
a{
    color: var(--primary-color);
    text-decoration: none;
    display: inline-block;
    padding: 21px;  
}

.decoration{
    text-decoration: underline;
    color: #0D2481;
}




/*HEADER*/
header{
    background-color: var(--bg-light-color);
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 80px;
    border-bottom: 2px solid var(--bg-lightgrey); /*o box-shadow che forse è meglio per dopo con l'hover*/
}

.img{
    width: 150px;
}

.underline:hover{
    border-bottom: 2px solid var(--darkcolor);
}



/*MAIN*/
main{
    padding-top: 80px;
}
/*JUMBO*/
#jumbo{
    margin-bottom: 100px;
}

#jumbo .column-left{
    width: 30%;
}

#jumbo .column-right{
    width: 69%;
}

.img-jumbo{
    width: 100%;
    margin-bottom: -80px;
}

#arrow-down{
    font-size: 3.5rem;
}

/*PLANS*/

#plans h2{
    font-size: 2rem;
}

    /*---------------------------------------------------*/
    /*checkbox*/
    /* The container */
.container-1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
    /* Hide the browser's default radio button */
  .container-1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
    /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }
  
    /* On mouse-over, add a grey background color */
  .container-1:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
    /* When the radio button is checked, add a blue background */
  .container-1 input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
    /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
    /* Show the indicator (dot/circle) when checked */
  .container-1 input:checked ~ .checkmark:after {
    display: block;
  }
  
    /* Style the indicator (dot/circle) */
  .container-1 .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }
    /*---------------------------------------------------*/
.checkbox{
    padding-top: 1.5rem;
}


    /*colonne*/
.column{
    width: calc((100% / 3) - 30px);
    border: 1px solid var(--grey);
    font-size: 16px;
    
}

.utente{
    border: 1px solid var(--grey);
    font-size: 12px;
    text-align: center;
    padding: 4px;
}

.column h3{
    font-size: 22px;
}

.text-grey{
    color: #a8a8a8;
}

.info{
    padding: 30px 15px 30px 15px;
}

.button-plans{
    padding-left: 35%;
    padding-right: 39%;
    text-align: center;
}

.button-plans1{
    padding-left: 15%;
    padding-right: 19%;
    text-align: center;
}


.linea{
    color: var(--grey);
}

.margin-right{
    margin-right: 40px;
}

    /*plans-bottom*/
.plans-bottom{
    width: 100%;
    border: 1px solid var(--grey);
}

.plans-bottom h3{
    font-size: 18px;
}

.plans-bottom h4{
    font-size: 14px;
}

.info1{
    width: 65%;
}

.info1 h4{
   padding-bottom: 40px;
}

.info1 p{
    font-size: 14px;
}


/*PARTNERS*/
.img-partner{
    width: 100%;
}

#partner .column-right{
    width: 45%;
    padding: 30px;

}

#partner .column-left{
    width: 54%;
}

.button-white{
    background-color: var(--lightcolor);
    border: 1px solid var(--darkcolor);
    color: var(--darkcolor);
}


/*FEATURES*/
#features h2{
    font-size: 2rem;
}

.card{
    width: calc(100% / 3);
    padding: 3px;
}

#features h3{
    font-size: 20px;
}

#features p{
    font-size: 14px;
}

#features img{
    width: 250px;
    display: block;
}

#features .description{
    padding:25px 15px;
}


/*CUSTOMERS*/
#customers h2{
    font-size: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#customers a{
    font-size: 12px;
    margin-left: -20px;
}








/*FREE-TRY*/
#freetry h2{
    color: var(--bordeaux);
}

/*FOOTER*/
footer{
    background-color: var(--dark-color);
    color: var(--bg-light-color);
}



{

}







