/*GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --button: #0061FF;
    --bg-lightblue: #B4D0E7;
    --darkcolor: #000000;
    --lightcolor: #FFFFFF;
    --mint: #A2D39B;
    --medium-blue: #0093CE;
    --neon-red: #FF1C1C;
    --bordeaux: #61082B;
    --cherry-red: #D5001F;
    --blue: #0D2481;
    --yellow: #FFD830;
    --lightgrey: #F5F5F5;
}

.debug{
    border: 1px solid red;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--lightcolor);
}

ul{
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.container-small{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.bg-lightblue{
    background-color: var(--bg-lightblue);
}

.mb-100{
    margin-bottom: 100px;
}


/*HEADER*/
/*MAIN*/
/*FOOTER*/